# Introducci√≥n a Python con Jupyter

Fecha: 11/05/2025

In [ ]:
print('Hola, mundo')

In [ ]:
nombre = 'Carlos'
edad = 25
print(nombre, edad)